<div class="container">
  <div class="row">
    <%= form_with model:@user, local: true do |f| %>
    <%= attachment_image_tag @user, :profile_image, format: "jpeg", size: "50x50", id: "img_prev", fallback: "no_image.jpg" %>
		<span class="btn btn-file btn-info"><%= f.attachment_field :profile_image %>画像選択</span>
    <%= f.label :name, "名前" %>
    <%= f.text_field :name %>
    <%= f.label :introduction, "紹介文" %>
    <%= f.text_area :introduction %>
    <%= f.label :profile_image, "画像" %>
		<%= f.submit "変更" %>
		<% end %>
  </div>
</div>