<div class="container">
  <div class="row">
    <%= form_with model: @post_content, local: true do |f| %>
    <div class="form-group">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title %>
    </div>
    <div class="form-group">
      <%= f.label :test, "本文" %>
      <%= f.text_area :text %>
    </div>
    <div class="form-group">
      <%= f.label :file, "音楽ファイル" %>
      <%= f.file_field :file, :size => 140 %>
    </div>
		<%= f.submit "変更" %>
		<% end %>
  </div>
</div>