<div class="container">
  <div class="row">
    <div class="form col-12 mt-3">
      <h3>Edit</h3>
      <%= form_with model: @post_content, local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <p>Title</p>
        <%= f.text_field :title %>
      </div>
      <div class="form-group">
        <p>Text</p>
        <%= f.text_area :text %>
      </div>
      <div class="form-group">
        <p>Music File</p>
        <%= f.file_field :file, :size => 140 %>
      </div>
  		<%= f.submit "Update", class:"btn btn-mixture" %>
  		<% end %>
    </div>
  </div>
</div>