<div class="container">
  <div class="card">
    <h5 class="card-header"><%= @post_content.title %></h5>
    <div class="card-body">
      <h5 class="card-title">
        <%= attachment_image_tag @post_content.user, :profile_image, format: "jpeg", size: "50x50", fallback: "no_image.jpg", class: "profile_image" %>
        <%= @post_content.user.name %>
        <div class="favorite-btn"><%= render "goods/good_btn", post_content: @post_content %></div>
      </h5>
      <p class="card-text">
        <%= @post_content.text %>
        <% if @post_content.file.present? %>
        <audio src= "<%= "#{@post_content.file}" %>" controls="">
          <a src="<%= "#{@post_content.file}" %>">ダウンロード</a>
        </audio>
        <div class="tags">
          <%= render "layouts/tag_list", tag_list: @post_content.tag_list %>
        </div>
        <% end %>
      </p>
      <% if @post_content.user == current_user %>
        <%= link_to "編集", edit_post_content_path, class: "btn btn-success" %>
        <%= link_to "削除", post_content_path, method: :delete, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
  <% @post_content.comments.each do |comment| %>
    <div class="card">
      <div class="card-body">
        <%= attachment_image_tag @post_content.user, :profile_image, format: "jpeg", size: "50x50", fallback: "no_image.jpg", class: "profile_image" %>
        <%= comment.user.name %>
        <%= comment.comment %>
        <% if comment.file.present? %>
          <audio src= "<%= "#{comment.file}" %>" controls="">
            <a src="<%= "#{comment.file}" %>">ダウンロード</a>
          </audio>
        <% end %>
        <% if comment.user == current_user %>
          <%= link_to "削除", post_content_comment_path(comment.post_content,comment), method: :delete, class: "btn btn-danger" %>
      <% end %>
      </div>
    </div>
  <% end %>
  <%= form_with model:[@post_content, @comment], local: true do |f| %>
    <%= f.label :comment, "コメント" %>
    <%= f.text_field :comment, placeholder: "コメント" %>
    <%= f.label :file, "音楽ファイル" %>
    <%= f.file_field :file, :size => 140 %>
    <%= f.submit "送信" %>
  <% end %>
</div>