<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><%= image_tag "no_image.jpg", :size => "150x50" %></a>
        <ul class="navbar-nav ml-auto">
        <!--ログイン後のヘッダー-->
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to post_contents_path do %>
              <i class="fas fa-store-alt">投稿一覧</i>
            <% end %>
          </li>
          <li class="nav-item">
            <!--リンク先要修正-->
            <%= link_to user_path(current_user) do %>
              <i class="fas fa-cookie-bite">マイページ</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_post_content_path do %>
              <i class="fas fa-user-plus">投稿</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to  destroy_user_session_path,method: :delete do%>
              <i class="fas fa-user">ログアウト</i>
            <% end %>
          </li>

        <!--ログイン前のヘッダー-->
        <% else %>
          <li class="nav-item">
            <%= link_to about_path do %>
              <i class="fas fa-store-alt">Mixtureについて</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path do %>
              <i class="fas fa-user-plus">新規登録</i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to  new_user_session_path do%>
              <i class="fas fa-user">ログイン</i>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>