<div class="col-3 mt-3">
  <div class="user_info_card">
  <div class="card-body">
    <h5 class="card-title user_img t-align-center"><%= attachment_image_tag current_user, :profile_image, format: "jpeg", size: "50x50", fallback: "no_image.jpg", class: "profile_image" %></h5>
    <h6 class="card-subtitle mb-2 user_name t-align-center "><%= current_user.name %></h6>
    <p class="card-text t-align-center">
      <div class="t-align-center">投稿数：<%= link_to user_path(user) do %><%= current_user.post_contents.count %> <% end %></div>
      <div class="t-align-center">フォロー数：<%= user.followings.count %></div>
      <div class="t-align-center">フォロワー数：<%= user.followers.count %></div>
    </p>
    <div class="link t-align-center">
      <%= link_to "詳細", user_path(current_user), class: "btn btn-success" %>
    </div>
  </div>
</div>

</div>